@import '../../styles/colors';

.wrapper {
  margin-top: 120px;
  width: 520px;
  background-color: $white-90;
  border-radius: 10px;
  color: $slate;

  .header {
    font-size: 20px;
    font-weight: 500;
    padding: 25px 28px;
    display: flex;
    align-items: center;

    .title {
      flex: 1 1 auto;
    }
  }

  .row {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0 28px;

    .label {
      width: 100px;
    }

    .input {
      flex: 1 1 auto;

      > input {
        font-size: 14px;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    padding: 20px 28px;

    .button {
      width: 100px;
      height: 30px;
      border-radius: 5px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}